@charset "utf-8";
#container {
    display: flex;
    flex-direction: column;
    /* containerの中は縦並び */
    gap: 8px;
}
#container > div{
    display: flex;
    /* containerの中のdivは横並び */
    gap: 10px;
    align-items: center;
}
#bar{
    display: flex;
    width: 25%;
    height: 20px;
    background: #e9ecef;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
